
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", "Segoe UI", sans-serif;
  background-color: #f5f7fb;
  color: #1e1e1e;
}

#login-page{
  display: block;
}

.heading h1 {
  margin: 20px 16px 8px 16px;
  color: #FFFFFF;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
}

#user-info p{
  color: #A0A0A0;
  margin-bottom: 20px;
  font-weight: 400;
  
}
#error-message{
  text-align: center;
  color: red;
  display: none;
}

#login-page {
  padding: 20px 16px;
  background: #121212;
  min-height: 100vh;
}


#user-info{
  background: #1E1E1E;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.06);
}

#user-info img{
  width: 100px;
  height: 100px;
}


.form-group {
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 14px;
  margin-bottom: 6px;
  color: #A0A0A0;
}

.form-group input  {
  padding: 12px 14px;
  border-radius: 12px;
  background-color: #2A2A2A;
border: 1px solid #3A3A3A;
  font-size: 14px;
  outline: none;
  transition: 0.2s;
}


.form-group input:focus {
  border-color: #10b981;
  box-shadow: 0 0 0 3px rgba(16, 185, 129, 0.15);
}




.submit-btn {
  width: 100%;
  padding: 14px;
  border-radius: 14px;
  border: none;
  background-color: #D49A6A; 
  color:#FFFFFF;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.submit-btn:hover {
  background-color: #C28A5C;
  transform: translateY(-2px);
}

aside{
  width: 250px;
  height: 100vh;
  position: fixed;
  left: -250px;
  background: #e5e7eb;
}

aside.active{
  left: 0;
}



#content{
  margin-left: 0;
}

#logout-btn, #menu-btn, #close-btn{
  width: 40%;
  padding: 14px;
  border-radius: 14px;
  border: none;
  background: #10b981;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
  margin-top: 10px;
}

a{
  text-decoration: none;
}

#dashboard-overview h2 {
  font-size: 24px;
  font-weight: 700;
  margin: 20px 16px 8px 16px;
  
}

#dashboard-overview p {
  font-size: 14px;
  font-weight: 400;
  
  margin: 0 16px 20px 16px;
}

.dashboard-stats {
  display: flex;
  gap: 12px;
  padding: 0 16px;
  margin-bottom: 24px;
}

.card {
  flex: 1;
  background: white;
  border-radius: 16px;
  padding: 18px 12px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-3px);
}

.card h3 {
  font-size: 22px;
  margin-bottom: 8px;
}

.card .title {
  font-size: 13px;
  color: #6b7280;
  margin-bottom: 6px;
}

.card .value {
  font-size: 20px;
  font-weight: 700;
  color: #111827;
}

.total-fields {
  background: #0f9d58;
  color: white;
}

.total-fields .title,
.total-fields .value {
  color: white;
}

.assigned-fields .value {
  color: #16a34a;
}

.completed-updates .value {
  color: #111827;
}


.field-lists {
  display: flex;
  gap: 12px;
  padding: 0 16px;
  overflow-x: auto;
  margin-bottom: 24px;
}

.field-lists::-webkit-scrollbar {
  display: none;
}

.field-item {
  min-width: 120px;
  background: #ffffff;
  border-radius: 16px;
  padding: 14px;
  
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: 0.2s ease;
  cursor: pointer;
}

.field-item:hover {
  transform: translateY(-4px);
}

.field-name {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 6px;
  color: #111827;
}

.field-type {
  font-size: 13px;
  color: #2563eb;
  font-weight: 500;
  margin-bottom: 4px;
}

.planting-date .current-stage {
  font-size: 12px;
  color: #6b7280;
}

.add-view{
  background: #1E1E1E;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.06);
}

.add-view h1 {
  margin: 20px 16px 8px 16px;
  color: #FFFFFF;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
}

.add-view p{
  color: #A0A0A0;
  margin-bottom: 20px;
  font-weight: 400;
  
}

.submit-btn:hover {
  background-color: #C28A5C;
  transform: translateY(-2px);
}
.add-btn{

  width: 40%;
  padding: 14px;
  border-radius: 14px;
  border: none;
  background-color: #D49A6A; 
  color:#FFFFFF;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;

}
.add-btn:hover {
  background-color: #C28A5C;
  transform: translateY(-2px);
}

.cancel-btn{

  width: 40%;
  padding: 14px;
  border-radius: 14px;
  border: none;
  background-color: #C28A5C;
  color:#FFFFFF;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;

}
.cancel-btn:hover {
  
  background-color: #D49A6A; 
  transform: translateY(-2px);
}